<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">

<head>
    {% include "theme::partials/metadata" %}
</head>
<body>
{% include "theme::partials/navigation" %}

<div id="main-wrapper">
    {% include "theme::partials/header" %}

    <div class="post-header-section section mt-30 mb-30">
        <div class="container">
            <div class="row row-1">
                <div class="col-12">
                    <div class="post-header" style="background-image: url({{ img('theme::img/banner/banner-view.jpg').url }})">
                        <h3 class="title">{{ post.title }}</h3>
                        <div class="meta fix">
                            <a href="{{ post.category.route('view') }}" class="meta-item category feature">{{ post.category.name }}</a>
                            <a href="#" class="meta-item author">
                                <img src="{{ img('theme::img/post/post-author-1.jpg').url }}" alt="post author">{{ post.author.display_name }}
                            </a>

                            <span class="meta-item date">
                                <i class="fa fa-clock-o"></i> {{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                            </span>

                            <a href="#" class="meta-item comments">
                                <i class="fa fa-hashtag"></i>{{ post.id }}
                            </a>

                            <span class="meta-item view">
                                <i class="fa fa-eye"></i>({{ post.view_count }})
                            </span>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="post-section section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mb-50">
                    <div class="post-block-wrapper mb-50">
                        <div class="body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="single-post">
                                        <div class="post-wrap">
                                            <div class="content">
                                                {% if post.photo != "" %}
                                                <img src="{{ post.photo.url }}" class="view-img" alt="post">
                                                {% endif %}
                                                    {% block post %}
                                                        <p class="dropcap">{{ content|raw }}</p>
                                                    {% endblock %}
                                            </div>

                                            <div class="tags-social float-left">
                                                <div class="tags float-left">
                                                    <i class="fa fa-tags"></i>

                                                    {% if post.tags %}
                                                        <div class="tags">
                                                            {% for tag in post.tags.value %}
                                                                <a href="{{ url_route('anomaly.module.posts::tags.view', {'tag': tag}) }}">{{ tag }},</a>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}

                                                </div>
                                                <div class="post-social float-right">
                                                    <a href="{{ setting_value('visiosoft.theme.metsa::facebook-url') }}" class="facebook"><i class="fa fa-facebook"></i></a>
                                                    <a href="{{ setting_value('visiosoft.theme.metsa::twitter-url') }}" class="twitter"><i class="fa fa-twitter"></i></a>
                                                    <a href="{{ setting_value('visiosoft.theme.metsa::instagram-url') }}" class="instagram"><i class="fa fa-instagram"></i></a>
                                                    <a href="{{ setting_value('visiosoft.theme.metsa::youtube-url') }}" class="youtube"><i class="fa fa-youtube"></i></a>
                                                </div>
                                                {% if post.news_sources != "" %}
                                                    <span class="meta-item view">
                                <i class="fa fa-book"></i>{{ post.news_sources }}
                            </span>
                                                {% endif %}
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-author fix mb-50">

                        <div class="image float-left">
                            {% if post.author.photo != "" %}
                                <img src="{{ post.author.photo.url }}" alt="post">
                            {% else %}
                                <img src="{{ img('theme::img/default_profile.jpg').url }}"
                                     alt="post">
                            {% endif %}
                        </div>

                        <div class="content fix">
                            <h5>
                                <a href="#">{{ post.author.display_name }}</a>
                            </h5>

                            <p>{{ post.author.description_user }}</p>

                            <div class="social">
                                <a href="{{ setting_value('visiosoft.theme.metsa::facebook-url') }}"><i class="fa fa-facebook"></i></a>
                                <a href="{{ setting_value('visiosoft.theme.metsa::twitter-url') }}"><i class="fa fa-twitter"></i></a>
                                <a href="{{ setting_value('visiosoft.theme.metsa::instagram-url') }}"><i class="fa fa-instagram"></i></a>
                                <a href="{{ setting_value('visiosoft.theme.metsa::youtube-url') }}"><i class="fa fa-youtube"></i></a>

                            </div>

                        </div>

                    </div>

                    <div class="post-block-wrapper mb-50">
                        <div class="head">
                            <h4 class="title">Dikkat Çeken Haberler</h4>
                        </div>
                        <div class="body">
                            <div class="two-column-post-carousel column-post-carousel post-block-carousel row">
                                {% set posts = entries('posts').where('enabled',1).feature().orderBy('id', 'desc').paginate(10) %}
                                    {% for post in posts|slice(0,10) %}
                                        <div class="col-md-6 col-12">
                                            <div class="post post-overlay hero-post">
                                                <div class="post-wrap">
                                                    <div class="image">
                                                        {% if post.photo != "" %}
                                                            <img src="{{ post.photo.url }}" class="view-recent-images" alt="post">
                                                        {% else %}
                                                            <img src="{{ img('theme::img/post/post-48.jpg').url }}" class="view-recent-images" alt="post">
                                                        {% endif %}
                                                    </div>
                                                    <a href="#" class="category gadgets">{{ post.category.name }}</a>
                                                    <div class="content">
                                                        <h4 class="title"><a href="{{ post.route('view') }}">{{ post.title }}</a></h4>
                                                        <div class="meta fix">
                                                    <span class="meta-item date">
                                                        <i class="fa fa-clock-o"></i>{{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mb-50">
                    <div class="row">
                        <div class="single-sidebar col-lg-12 col-md-6 col-12">
                            <div class="sidebar-block-wrapper">
                                {{ blocks('advs-default-theme-social-bottom') }}

                            </div>
                        </div>

                        <div class="single-sidebar col-lg-12 col-md-6 col-12">
                            <a href="#" class="sidebar-banner">
                                {% if setting_value('visiosoft.theme.metsa::detail-sidebar-banner-one-type') == "code" %}
                                    {{ setting_value('visiosoft.theme.metsa::detail-sidebar-banner-one-code')|raw }}
                                {% else %}
                                    {% if setting_value('visiosoft.theme.metsa::detail-sidebar-banner-one-image') == "" %}
                                        <img src="{{ img('theme::img/banner/sidebar-banner-1.jpg').url }}" alt="Sidebar Banner">
                                    {% else %}
                                        <img src="{{ url('files/' ~ file(setting_value('visiosoft.theme.metsa::detail-sidebar-banner-one-image')).path) }}" alt="Banner">
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>

                        <div class="single-sidebar col-lg-12 col-md-6 col-12">
                            <a href="#" class="sidebar-banner">
                                {% if setting_value('visiosoft.theme.metsa::detail-sidebar-banner-two-type') == "code" %}
                                    {{ setting_value('visiosoft.theme.metsa::detail-sidebar-banner-two-code')|raw }}
                                {% else %}
                                    {% if setting_value('visiosoft.theme.metsa::detail-sidebar-banner-two-image') == "" %}
                                        <img src="{{ img('theme::img/banner/sidebar-banner-2.jpg').url }}" alt="Sidebar Banner">
                                    {% else %}
                                        <img src="{{ url('files/' ~ file(setting_value('visiosoft.theme.metsa::detail-sidebar-banner-two-image')).path) }}" alt="Banner">
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "theme::partials/footer" %}
<script>
    var post_id = "{{ post.id }}";
</script>
{% include "theme::partials/assets" %}

</body>

</html>

