<div class="col-lg-4 col-md-6 col-12 mb-50">
    <div class="single-sidebar">
        <div class="sidebar-block-wrapper">
            <div class="head education-head">
                <div class="sidebar-tab-list education-sidebar-tab-list nav">
                    <a class="active" data-toggle="tab" href="#most-read">En Çok Okunan</a>
                    <a data-toggle="tab" href="#last-read">Son Okunan</a>
                </div>
            </div>

            <div class="body">
                <div class="tab-content">


                    <div class="tab-pane fade show active" id="most-read">
                        {% set most_read_list = entries('posts','default_posts').orderBy('view_count','desc').paginate(4).pluck('id','id') %}
                        {% set most_read = entries('posts').where('enabled', 1).whereIn('posts_posts.id', most_read_list).paginate() %}
                        {% for post in most_read %}
                            <div class="post post-small post-list education-post post-separator-border">
                                <div class="post-wrap">
                                    <a class="image" href="{{ post.route('view') }}">
                                        {% if post.photo != "" %}
                                            <img src="{{ post.photo.url }}" class="bOcO-most-img" alt="post">
                                        {% else %}
                                            <img src="{{ img('theme::img/post/post-33.jpg').url }}" alt="post">
                                        {% endif %}
                                    </a>
                                    <div class="content">
                                        <h5 class="title">
                                            <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                        </h5>
                                        <div class="meta fix">
                                            <span class="meta-item date">
                                                <i class="fa fa-clock-o"></i>{{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                                            </span>
                                        </div>
                                        <div class="meta fix">
                                            <span class="meta-item category politic">
                            <a href="{{ post.category.route('view') }}"
                               class="meta-item">{{ post.category.name }}</a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="tab-pane fade" id="last-read">


                        {% set last_read_list = entries('posts','default_posts').orderBy('updated_at', 'DESC').paginate(4).pluck('id','id') %}
                        {% set last_read = entries('posts').where('enabled', 1).whereIn('posts_posts.id', last_read_list).paginate()  %}
                        {% for post in last_read %}
                            <div class="post post-small post-list education-post post-separator-border">
                                <div class="post-wrap">
                                    <a class="image" href="{{ post.route('view') }}">
                                        {% if post.photo != "" %}
                                            <img src="{{ post.photo.url }}" class="bOcO-most-img" alt="post">
                                        {% else %}
                                            <img src="{{ img('theme::img/post/post-33.jpg').url }}" alt="post">
                                        {% endif %}
                                    </a>
                                    <div class="content">
                                        <h5 class="title">
                                            <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                        </h5>
                                        <div class="meta fix">
                                            <span class="meta-item date">
                                                <i class="fa fa-clock-o"></i>{{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                                            </span>
                                        </div>
                                        <div class="meta fix">
                                            <span class="meta-item category businsee">
                            <a href="{{ post.category.route('view') }}"
                               class="meta-item">{{ post.category.name }}</a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
