<div class="breaking-news-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breaking-news-wrapper">
                    {% set fiterType = setting_value('visiosoft.theme.metsa::breaking-news-type') %}
                    <h5 class="breaking-news-title float-left">{{ trans('theme::field.'~fiterType~'-news.name') }}</h5>
                    {% set posts = entries('posts').where('enabled',1).fiterType().orderBy('id', 'desc').paginate() %}
                    <ul class="breaking-news-ticker float-left">
                        {% for post in posts|slice(0,10) %}
                        <li><a href="{{ post.route('view') }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="breaking-news-nav">
                        <button class="news-ticker-prev"><i class="fa fa-angle-left"></i></button>
                        <button class="news-ticker-next"><i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>