<div class="col-lg-4 col-12 mb-50">
    <div class="row">

        <!-- Single Sidebar -->
        <div class="single-sidebar col-lg-12 col-md-6 col-12">

            <!-- Sidebar Banner -->
            <a href="#" class="sidebar-banner">
                {% if setting_value('visiosoft.theme.metsa::home-sidebar-banner-one-type') == "code" %}
                    {{ setting_value('visiosoft.theme.metsa::home-sidebar-banner-one-code')|raw }}
                {% else %}
                    {% if setting_value('visiosoft.theme.metsa::home-sidebar-banner-one-image') == "" %}
                        <img src="{{ img('theme::img/banner/sidebar-banner-2.jpg').url }}" alt="Sidebar Banner">
                    {% else %}
                        <img src="{{ url('files/' ~ file(setting_value('visiosoft.theme.metsa::home-sidebar-banner-one-image')).path) }}"
                             alt="Banner">
                    {% endif %}
                {% endif %}
            </a>
        </div>

        <div class="single-sidebar">
            <div class="sidebar-block-wrapper">
                <div class="head education-head">
                    <div class="sidebar-tab-list education-sidebar-tab-list nav authors-tab">
                        <a class="active">Yazarlar</a>
                    </div>
                </div>

                <div class="body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="most-authors">
                            {% set posts = entries('posts').where('enabled',1).recent().paginate(5) %}
                            {% for post in posts %}
                                <div class="post post-small post-list education-post post-separator-border authors-item">
                                    <div class="post-wrap">
                                        <a class="image">
                                            {% if post.author.photo != "" %}
                                                <img src="{{ post.author.photo.url }}" alt="post">
                                            {% else %}
                                                <img src="{{ img('theme::img/default_profile.jpg').url }}"
                                                     alt="post">
                                            {% endif %}
                                        </a>
                                        <div class="content">
                                            <h5 class="title">
                                                <a>{{ post.author.display_name }}</a>
                                            </h5>
                                            <div class="meta fix">
                                            <span class="meta-item">
                                                <a href="{{ post.route('view') }}"
                                                   class="meta-item">{{ post.title }}</a>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
