<div class="post post-overlay hero-post col-lg-12 col-md-6 col-12">
    {% set post = entries('posts').where('enabled',1).where('category_id', setting_value('visiosoft.theme.metsa::headline-bottom-left')).orderBy('id', 'desc').first() %}
    <div class="post-wrap">
        <div class="image">
            <a href="#" class="category fashion">{{ post.category.name }}</a>
            {% if post.photo != "" %}
                <img src="{{ post.photo.url }}" class="gallery-category-img" alt="post">
            {% else %}
                <img src="{{ img('theme::img/post/post-2.jpg').url }}" class="gallery-category-img"  alt="post">
            {% endif %}
        </div>
        <a href="#" class="category fashion"></a>
        <div class="content">
            <h4 class="title"><a href="{{ post.route('view') }}">{{ post.title }}</a></h4>
        </div>
    </div>
</div>
