<div class="post-section section mt-50">
    <div class="container">

        <!-- Feature Post Row Start -->
        {% include "theme::partials/home-partials/featured-news-section" %}
        <!-- Feature Post Row End -->

        <!-- Bottom Section Two Row Start -->
        {% include "theme::partials/home-partials/bottom-section-two" %}
        <!-- Bottom Section Two Row End -->

        <!-- Bottom Section One Row Start -->
        {% include "theme::partials/home-partials/bottom-section-one" %}
        <!-- Bottom Section One Row End -->

        <!-- Banner Row Start -->
        {% include "theme::partials/home-partials/banner-row" %}
        <!-- Banner Row End -->

        <!-- Technology, Fashion & Other Post Row Start -->
        {% include "theme::partials/home-partials/other-section" %}
        <!-- Technology, Fashion & Other Post Row End -->

        <!-- Popular Section Start -->
        {% include "theme::partials/home-partials/popular-news-slider" %}
        <!-- Popular Section End -->
    </div>
</div><!-- Post Section End -->
