{% set posts = entries('posts').where('category_id', setting_value('visiosoft.theme.metsa::popular-news-slider')).orderBy('id', 'desc').paginate(15) %}
{% if count(posts) != 0 %}
<div class="popular-section section pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="popular-post-slider">
                    {% for post in posts %}
                    <div class="post post-small post-list post-dark popular-post">
                        <div class="post-wrap">
                            <a class="image" href="{{ post.route('view') }}">
                                {% if post.photo != "" %}
                                    <img src="{{ post.photo.url }}" class="popular-img" alt="post">
                                {% else %}
                                    <img src="{{ img('theme::img/post/post-7.jpg').url }}" alt="post">
                                {% endif %}
                            </a>
                            <div class="content fix">
                                <h5 class="title">
                                    <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                </h5>
                                {% if post.summary.value %}
                                    <p>{{ post.summary|raw|slice(0, 100) }} ...</p>
                                {% endif %}
                                <a href="{{ post.route('view') }}" class="read-more">Devamını oku</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}